spring:
  http:
    encoding:
      charset: UTF-8
      enabled: true
      force: true
  jackson:
    date-format: yyyy-MM-dd HH:mm:ss
    time-zone: GMT+8
  datasource:  
    url: jdbc:oracle:thin:@192.168.10.204:1521:orcl
    username: tea_trade
    password: teatrade_nlx
    driverClassName: oracle.jdbc.driver.OracleDriver 
  profiles: 
    include: 'redis,i18n,amqp'
pagehelper:
  helperDialect: oracle
  reasonable: true
  supportMethodsArguments: true
server:
  tomcat:
    uri-encoding: UTF-8
